---
layout: default
title: Press and Logos
suppress_header: true
extra_css:
  - press.css
---

.blank-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg" }
  .header-content
    %h1 Press and Logos
.gitlab-content-container

  // recent news
  .content
    .downloads
      %h2.margin-top0 Recent News
      - data.press.recent_news.each_slice(3).to_a.each do |group|
        .press-row.flex-container.full-width
          - group.each do |news|
            %a.press-tile.tile.tile-animated.full-width{ href: "#{news.link}", target: "_blank" }
              %img.tile-icon-small{ src: "#{news.logo}" }
              .tile-content
                %p.press-date
                  = news.date
                %p.press-text
                  = news.title

  // links container
  .content
    %p
      For press inquiries please email
      %a{href: "mailto:press@gitlab.com"} press@gitlab.com
    %p
      For press releases, please
      %a{href: "/press/releases/"} visit our Press Releases page.
    %p
      For updates from the GitLab team, please
      %a{href: "/blog/archives.html"} visit our blog
      or
      = succeed "." do
        %a{href: "https://twitter.com/gitlab/"} view our Twitter feed

  // podcasts
  .content
    .downloads
      %h2.margin-top0 Podcasts
      - data.press.podcasts.each_slice(3).to_a.each do |group|
        .press-row.flex-container.full-width
          - group.each do |podcast|
            %a.press-tile.tile.tile-animated.full-width{ href: "#{podcast.link}", target: "_blank" }
              %img.tile-icon-medium{ src: "#{podcast.logo}" }
              .tile-content
                %p.press-date
                  = podcast.date
                %p.press-text
                  = podcast.title
  // investors
  .content
    %h2 Investors
    .investor-logos-container
      %a{href: "/2015/03/04/gitlab-is-part-of-the-y-combinator-family/"}
        %img.investor-logo{ src: "/images/press/ycombinator.svg" }
      %a{href: "/2015/07/09/1-5m-raised-in-seed-funding-for-gitlab-to-accelerate-growth-and-expand-operations/"}
        %img.investor-logo{ src: "/images/press/khosla.png" }
      %a{href: "/2016/09/13/gitlab-master-plan/"}
        %img.investor-logo{ src: "/images/press/augustcap_logo.png" }
      %a{href: "/2017/10/09/gitlab-raises-20-million-to-complete-devops/"}
        %img.investor-logo{ src: "/images/press/gv.svg" }

  // resources
  .content
    .images-column
      %h2 Resources
      .downloads
        .downloads-row.flex-container.full-width
          .tile.image-container
            %p.tile-label GitLab Datasheet
            %a{href: "/images/press/gitlab-data-sheet.pdf", target: "_blank"}
              .image.gitlab-data-sheet
            .list
              %a{download: "gitlab_data_sheet", href: "/images/press/gitlab-data-sheet.pdf"}
                %i.fa.fa-download
                %p .PDF
          .tile.image-container
            %p.tile-label GitLab Capabilities Statement
            %a{href: "/images/press/gitlab-capabilities-statement.pdf", target: "_blank"}
              .image.gitlab-capabilities-statement
            .list
              %a{download: "gitlab_capabilities_statement", href: "/images/press/gitlab-capabilities-statement.pdf"}
                %i.fa.fa-download
                %p .PDF
          .tile.image-container
            %p.tile-label Git Cheat Sheet
            %a{href: "/images/press/git-cheat-sheet.pdf", target: "_blank"}
              .image.git-cheat-sheet
            .list
              %a{download: "git_cheat_sheet", href: "/images/press/git-cheat-sheet.pdf"}
                %i.fa.fa-download
                %p .PDF

  // links for all logos
  .content
    .images-column
      %h2 Images & Logos
      .flex-container.flex-column.flex-start.margin-top30
        %a{href: "https://gitlab.com/gitlab-com/gitlab-artwork/repository/archive.zip?ref=master"} Download all images (zip)
        %a{href: "https://gitlab.com/gitlab-com/gitlab-artwork/tree/master/"} GitLab artwork repository with all images
        %a{href: "https://gitlab.com/gitlab-com/gitlab-artwork/blob/master/README.md"} Logo use guidelines

  // logos
  .content
    .downloads
      - data.press.logos.each_slice(3).to_a.each do |group|
        .downloads-row.flex-container.full-width
          - group.each do |logo|
            .tile.image-container
              %p.tile-label
                = logo.title
              .image-preview-container
                %a.image{ href: "#{logo.preview}", target: "_blank", style: "background: url('#{logo.preview}') center center no-repeat; background-size: contain;" }
              .list
                - logo.file_types.each do |file|
                  %a{ download: "#{file.download_tag}", href: "#{file.link}" }
                    %i.fas.fa-download
                    %p
                      = file.type
  // additional images
  .content
    %h2 Additional Images
    .downloads
      - data.press.additional_images.each_slice(3).to_a.each do |group|
        .downloads-row.flex-container.full-width
          - group.each do |image|
            .tile.image-container
              %p.tile-label
                = image.title
              .image-preview-container
                %a.image{ href: "#{image.preview}", target: "_blank", style: "background: url('#{image.preview}') center center no-repeat; background-size: contain;" }
              .list
                - image.file_types.each do |file|
                  %a{ download: "#{file.download_tag}", href: "#{file.link}" }
                    %i.fas.fa-download
                    %p
                      = file.type
