---
layout: markdown_page
title: "Frontend Secure Team"
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Mission

The Secure team works on the frontend part of GitLab for the [Secure stage].

For more details about the vision for this area of the product, see the [Secure
stage] page.

[Secure stage]: /direction/Secure/

### Team members

<%= direct_team(role_regexp: /[,&] Secure/, manager_role: 'Frontend Engineering Manager, Configure & Secure') %>

### Stable counterparts

<%= stable_counterparts(role_regexp: /[,&] Secure/, direct_manager_role: 'Frontend Engineering Manager, Configure & Secure') %>

## Useful links

* [Secure frontend board] - this shows work by assignees
* [#g_secure] in Slack

[Secure frontend board]: https://gitlab.com/groups/gitlab-org/-/boards/815243

[#g_secure]: https://gitlab.slack.com/archives/g_secure
