---
title: Stages of the DevOps Lifecycle
suppress_header: true
extra_css:
  - stages-devops-lifecycle.css
extra_js:
  - features.js
---

.hero-container.flex-container.justify-center.align-center
  .text-center
    %h1.hero-title
      GitLab is the first single application for all stages of the DevOps lifecycle.

= partial "includes/home/customer-logos"

.solutions-wrapper
  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h1
        Overview
      %p
        GitLab is the first single application for all stages of the DevOps lifecycle. From planning to monitoring GitLab covers every stage and additionaly let's you manage and secure accross stages. Only GitLab enables Concurrent DevOps, unlocking organizations from the constraints of the toolchain. GitLab provides unmatched visibility, higher levels of efficiency, and comprehensive governance. This makes the software lifecycle 200% faster, radically improving the speed of business.
    .solution-image-container.flex-container.align-center.full-width
      %img.solution-image.flex-shrink{:src => "/direction/product-vision/devops-loop-and-spans-small.png"}/
  -# .tile.overview
  -#   %p
  -#     GitLab is the first single application for all stages of the DevOps lifecycle. Only GitLab enables Concurrent DevOps, unlocking organizations from the constraints of the toolchain. GitLab provides unmatched visibility, higher levels of efficiency, and comprehensive governance. This makes the software lifecycle 3 times faster, radically improving the speed of business.
  - data.stages.stages.keys.each do |solution|
    - if (data.stages.stages.public_send(solution).image)
      .solution-container.flex-container.justify-center.align-center.full-width
        .solution-info-container.flex-container.flex-column.full-width
          %h1
            = data.stages.stages.public_send(solution).display_name
          %h4
            = data.stages.stages.public_send(solution).description
          %p
            = data.stages.stages.public_send(solution).body
          %a.learn-more.flex-container.align-center{ href: "/stages-devops-lifecycle/#{solution.to_s.gsub(/_/, '-')}" }
            %p
              Learn More →
        .solution-image-container.flex-container.align-center.full-width
          %img.solution-image.flex-shrink{:src => data.stages.stages.public_send(solution).image}/
    - else
      .solution-no-image
        %h1
          = data.stages.stages.public_send(solution).display_name
        %p
          = data.stages.stages.public_send(solution).description
        %p
          = data.stages.stages.public_send(solution).body
        %a.learn-more.flex-container.align-center{ href: "/stages-devops-lifecycle/#{solution.to_s.gsub(/_/, '-')}" }
          %p
            Learn More →

.gitlab-cta-container.text-center.animated
  .container
    %a.btn.cta-btn.red.hidden-sm.hidden-xs{href: "/features"}
      See all features

.gitlab-cta-container.text-center.animated
  .container
    %h1
      Choose the version of GitLab that is best for you
    %h4
      Host GitLab on your servers or let us host it for you
    %a.btn.cta-btn.red.hidden-sm.hidden-xs{href: "/pricing"}
      Explore our plans
    %a.btn.cta-btn.red.visible-sm.visible-xs{href: "/pricing"}
      Explore
