---
layout: default
title: GitLab for education
suppress_header: true
extra_css:
  - sales-and-free-trial-common.css
  - faq.css
extra_js:
  - faq.js
---

.wrapper
  .simple-header
    %h1 Education
  .centered-form
    .font-regular.margin-top40
      %p Educational institutions around the world use GitLab widely, and our top tiers (Gold and Ultimate) are free for education. We want students to use our most advanced features, so they can take that experience to their future workplaces.
      %h3
        %strong
          What are GitLab Ultimate and GitLab Gold?
      %p
        %a{ href: "/pricing", target: "_blank" } GitLab Ultimate and Gold
        are our most comprehensive offerings. GitLab Ultimate is self-hosted, whereas GitLab Gold is our SaaS offering hosted on GitLab.com.
      %h3
        %strong
          Education Program Requirements
      %p
        Any institution whose purposes directly relates to learning, teaching, and/or training may qualify. Educational purposes do not include commercial, professional, or any other for-profit purposes (
        %a{ href: "/terms/#edu-oss", target: "_blank" } full Education terms
        ).
      %p We're able to provide only one license per educational institution (Gold or Ultimate). This means that applications for single departments or teams won't be accepted. Please take this into consideration when applying and make sure there are enough seats for all departments that might be interested in this program.
      %p The number of seats - the number of different users that will use this license in the next year
      %h3
        %strong
          Support note
      %p Free GitLab Ultimate and Gold accounts do not include support. However, you can purchase support for 95% off, at $4.95 per user per month.
      %h3
        %strong
          Can students apply?
      %p Not directly. In order to reduce the administrative burden for GitLab, only educational institutions can apply on behalf of their students. Every student's application will, therefore, be rejected.
      %p If you're a student and your educational institution does not apply, you can still use public projects on GitLab.com with all functionality, or private projects with the free functionality.
      %h3
        %strong
          Application process
      %p To apply, please fill out the form below. Once you sign the quote that you'll receive shortly, the EULA will be automatically sent to the email you enter in the application form. When you accept it, you’ll receive the license key (for Ultimate), or further instructions on how to authenticate your groups (for Gold).
      %p These licenses need to be renewed annually.

    %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1659
    :javascript
      MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1659, function(form) {
        form.onSuccess(function() {
          form.getFormElem().hide();
          $('.confirmform').attr('style', 'visibility: visible');
          return false;
        });
      });
    .confirmform{style: "visibility:hidden;"}
      %h3 Submission received!
      %p We will be in touch soon.
    %br/
    %br/
